/* css styles */

.quarto-title {
  text-align: center;
  display: none !important;
}

.quarto-title-banner {
  padding-top: 1.8em;
  padding-bottom: 1.5em;
}

.quarto-grid-item, .card-img {
  border-radius: 10px!important;
}

#quarto-announcement {
  align-items: self-end;
}

.title, .lead {
  color: black!important;
}

.description {
  text-align: center;
}

.listing-subtitle {
  font-size: 80%;
}

.nav-link:hover, .nav-link:focus {
  color: #ff1998;
}

.navbar {
  background-color: #0100c9;
}

.nav-link {
  padding-left: 0.9rem !important;
}


.quarto-title .quarto-categories{
  display: inline-grid;
}

.menu-text {
  font-size: x-large;
}

.quarto-announcement-icon {
  padding-left: 2em;
}

.quarto-about-jolla.column-page img[src="images/logos.png"] {
  display: none !important;
}
